<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>Inschrijvingen</title>
</head>

<body>
	<%- include('./templates/header') %>
		<main>
			<table>
				<tr>
					<th>Voornaam en achternaam</th>
					<th>Axxon lid?</th>
					<th>E-mail</th>
					<th>Riziv-nummer</th>
				</tr>
				<% locals.items.forEach(item=> {%>
					<tr>
						<td>
							<%= item.name %>
						</td>
						<td>
							<%= item.lid?'Ja':'Nee' %>
						</td>
						<td>
							<%= item.email%>
						</td>
						<td>
							<%= item.riziv %>
						</td>
					</tr>
					<%}); %>
			</table>
		</main>
		<%- include('./templates/footer') %>
</body>

</html>