<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin panel</title>
	<link rel="stylesheet" href="./admin.css">
</head>

<body>
	<%- include('./templates/header') %>
		<main>
			<h1>Admin panel</h1>
			<a href="/admin/add-kalender">Nieuw item</a>
			<ul>
				<% locals.items.forEach(item=> {%>
					<div class="kalender-item" id="<%= item.name%>">
						<div class="text">
							<img src="<%= item.img %>">
							<h3>
								<%= item.title%>
							</h3>
						</div>
						<a class="delete" href="/admin/delete/<%= item.name %>">X</a>
					</div>
					<%}); %>
			</ul>
		</main>
</body>

</html>