<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zok</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<%- include('templates/header') %>
		<main>
			<div class="hero">
				<div class="text">
					<h1>Welkom bij Zok</h1>
					<h2>Onze kinesitherapeutenkring verenigt en informeert de kinesitherapeuten van Zuid-Oost-Vlaanderen
					</h2>
					<a href="/lid-worden">Word lid</a>
				</div>
				<div class="carousel">
					<img src="/img/carousel/1.jpg" id="img1">
					<img src="/img/carousel/2.jpg" id="img2">
					<img src="/img/carousel/3.jpg" id="img3">
					<img src="/img/carousel/1.jpg" class="starter-img">
				</div>
				<script src="/scripts/carousel.js"></script>
			</div>
			<div class="hero">
				<img src="/img/zov.svg" alt="a drawing of south-east-flanders" style="width: 20rem;">
				<div class="text">
					<h1>Voor wie?</h1>
					<h2>Kinesitherapeuten van Geraardsbergen, Ninove, Brakel, Herzele, Lierde, Oosterzele,
						Sint-Lievens-Houtem en Zottegem</h2>
				</div>
			</div>
			<div class="kalender">
				<div class="title">
					<h2>Kalender</h2>
					<h4>Welke bijscholingen en activiteiten staan er op het programma?</h4>
				</div>
				<div class="kalender-items">
					<% locals.kalender.forEach(item=> { %>
						<a href=<%='/kalender/' + item.name %>>
							<div class="event">
								<% if (item.img) {%> <img src="<%= item.img %>">
									<%}%>
										<h3>
											<%=item.title%> - <%=item.date.toLocaleDateString('gl-ES')%>
										</h3>
							</div>
						</a>
						<% }) %>
				</div>
			</div>
			<div class="berichten">
				<h2>Berichten</h2>
				<div class="list">
					<% locals.berichten.forEach(item=> { %>
						<a href=<%='/berichten/' + item.name %>>
							<div class="bericht">
								<img src="<%= item.img %>">

								<div class="text">
									<h4>
										<%= item.title %>
									</h4>
									<%- item.descr.replace(/<\/?a[^>]*>/g,'') %>

								</div>
							</div>
						</a>
						<% }) %>
				</div>
			</div>
		</main>
		<%- include('templates/footer') %>
</body>

</html>