<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= locals.event.title+" - "+locals.event.date%>
	</title>
	<link rel=" stylesheet" href="./styles.css">
			<link rel="stylesheet" href="./styles-kalender-template.css">
</head>

<body>
	<div id="topbar">
		<h1>
			<%= locals.event.title || "Bericht niet gevonden" %>
		</h1>
		<h2>
			<%=locals.event.date%>
		</h2>
		<img src="<%=locals.event.img%>" alt="">
	</div>
	<p>
		<%-locals.event.descr %>
	</p>
	<script src="./scripts/header-footer.js"></script>
</body>

</html>