<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin panel</title>
  <script src="https://kit.fontawesome.com/dc3124471a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/admin.css">
</head>

<body>
  <header>
    <div id="logo">
      <div style="width: 3em;">
        <a href="/" id="logo-link">
          <div>Zok</div>
        </a>
      </div>
    </div>
    <nav>
      <a href="/" class="nav-button">Home</a>
      <a href="/wie-zijn-wij" class="nav-button">Wie zijn wij</a>
      <a href="/leden" class="nav-button">Leden</a>
      <a href="/contact" class="nav-button">Contact</a>
    </nav>
    <button id="nav-button">☰</button>
    <script src="./scripts/header.js"></script>
  </header>
  <main>
    <h1>Admin panel</h1>
    <h2>Kalender</h2>
    <a href="/admin/add-event">Nieuw item</a>
    <ul>
      {{#each events}}
      <div class="kalender-item" id="{{this.id}}">
        <div class="text">
          <img src="/{{this.img_path}}">
          <h3>
            {{this.title}}
          </h3>
        </div>
        <div class="admin-buttons">
          <a href="/admin/edit-event/{{this.id}}" class="edit"><i class="fa-solid fa-pen"></i></a>
          <a class="delete" href="/admin/delete/event/{{this.id}}">X</a>
        </div>
      </div>
      {{/each}}
    </ul>

    <h2>Berichten</h2>
    <a href="/admin/add-berichten">Nieuw bericht</a>
    <ul>
      {{#each berichten}}
      <div class="kalender-item" id="{{this.id}}">
        <div class="text">
          <img src="/{{this.img_path}}">
          <h3>
            {{this.title}}
          </h3>
        </div>
        <a class="delete" href="/admin/delete/berichten/{{this.id}}">X</a>
      </div>
      {{/each}}
    </ul>
  </main>
  <dialog id="message">
    <h1></h1>
    <button autofocus>Ok</button>
  </dialog>
  <script src="/scripts/admin.js"></script>
</body>

</html>
