<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
  <link rel="stylesheet" href="/admin.css">
  <title>Item bewerken</title>
</head>

<body>
  <header>
    <div id="logo">
      <div style="width: 3em;">
        <a href="/" id="logo-link">
          <div>Zok</div>
        </a>
      </div>
    </div>
    <nav>
      <a href="/" class="nav-button">Home</a>
      <a href="/wie-zijn-wij" class="nav-button">Wie zijn wij</a>
      <a href="/leden" class="nav-button">Leden</a>
      <a href="/contact" class="nav-button">Contact</a>
    </nav>
    <button id="nav-button">☰</button>
    <script src="/scripts/header.js"></script>
  </header>
  <main>
    <h1>Item bewerken</h1>
    <form action="/admin/edit-event/{{event.id}}" method="post" enctype="multipart/form-data">
      <label for="title">Titel*</label>
      <input type="text" name="title" value="{{event.title}}" required>
      <label for="img">Afbeelding*</label>
      <input type="file" accept="image/*" name="img" disabled>
      <label for="date">Datum*</label>
      <input type="date" name="date" value="{{date}}" required>
      <label for="start">Van*</label>
      <input type="time" name="start" value="{{event.start}}" required>
      <label for="timeEnd">Tijdsduur*</label>
      <input type="time" name="duration" value="{{event.duration}}" required>
      <label for="location.name">Locatie*</label>
      <input type="text" name="location_name" value="{{event.location.name}}" required>
      <label for="location.address">Address</label>
      <input type="text" name="location_address" value="{{event.location.address}}">
      <label for="cost">Prijs (met . geen ,)</label>
      <input type="number" name="cost" value="{{event.cost}}">
      <label for="costMember">Prijs leden (met . geen ,) </label>
      <input type="number" name="cost_member" value="{{event.cost_member}}">
      <label for="pqk">Accrediteringspunten PQK</label>
      <input type="number" name="pqk" value="{{event.pqk}}">
      <label for="description">Beschrijving*</label>
      <input type="hidden" id="description" value="{{event.description}}">
      <div id="editor"></div>
      <button>Item bewerken</button>
    </form>
  </main>
  <script src="/scripts/quill.js"></script>
</body>

</html>
